body {
    background-image: url('/images/fir.jpg');
}

.frameTable {
    background-color: red;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.banner {
    background: darkred;
    font-size: 40;
    color: green;
    font-weight: bold;
    font-family: Courier;
    padding: 8;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

.links {
    background-image: url('/images/xmas-snowflakes.jpeg');
    font-size: 16;
    color: red;
    font-weight: bold;
    vertical-align: top;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    align: center;
    padding: 4px
}

.links a {
    display: inline-block;
    width: 140px;
    height: 20px;
    padding: 2px;
    color: red;
    background-color: darkgreen;
}

.content {
    background: white;
    vertical-align: top;
    padding: 6;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}
