body {
    background-image: url('/images/books.jpg');
}

.frameTable {
    background-color: #2A1B0A;
    border-style: solid;
    border-width: 2px;
    border-color: #2A1B0A;
}

.links a {
    display: inline-block;
    width: 140px;
    height: 20px;
    padding: 2px;
    color: white;
}

.banner {
    background: #f1eea9;
    font-size: 40;
    color: black;
    font-weight: bold;
    font-family: Courier;
    padding: 8;
    border-style: solid;
    border-width: 2px;
    border-color: #2A1B0A;
}

.links {
    background: #6f6e56;
    font-size: 16;
    color: #133c07;
    font-weight: bold;
    vertical-align: top;
    padding: 4;
    border-style: solid;
    border-width: 2px;
    border-color: #2A1B0A;
}

.content {
    background: white;
    vertical-align: top;
    padding: 6;
    border-style: solid;
    border-width: 2px;
    border-color: #2A1B0A;
}
