//- leftpane.pug
<html>
head
  block style
  block title
body(BODY_BACKGROUND_TAG)
  center
    table(width="85%" height="90%" class="frameTable" style=FRAME_BORDER_TAG)
      tr
        td(colspan=2 class="banner" height=100 BANNER_BACKGROUND_TAG)
          block banner
      tr
        td(width=180 class="links" LINKS_BACKGROUND_TAG)
          block links
        td(class="content" CONTENT_BACKGROUND_TAG)
          block content
</html>